<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>ChatGPT</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
    <div id="app">
        <br/>
        <br/>
        <el-progress :text-inside="true" :stroke-width="18" :percentage="percent"></el-progress>
        <br/>
        <br/>
        <div class="request" v-loading="loading">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="问题内容">
                    <el-input type="textarea" v-model="form.question" :autosize="{ minRows: 1, maxRows: 20}" ></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">立刻请求</el-button><el-button type="warning" @click="onClear">清空历史</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div class="response" v-for="(item,index) in log"> 
            <el-card class="box-card item-card">
                <div slot="header" class="clearfix" v-html="item.question">
                </div>
                <div v-html="item.innterHtml">
                </div>
                <el-button style="float: right; padding: 3px 0" type="text" @click="onDelete(index)">删除</el-button>
            </el-card>
            
        </div>
    </div>
</body>
<!-- 先引入 Vue -->
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/marked/2.0.3/marked.js"></script>
<script>
    //最重要的一步 调用请求的开始
    Vue.prototype.$http = axios;

    new Vue({
        el: '#app',
        data: {
            form: {
                "question":"你好，随便说一句赞美我的话。",
                "model": "text-davinci-003",
                "max_words": 1000
            },
            loading: false,
            percent: 0,
            log: []
        },
        methods: {
            onSubmit() {
                v = this
                this.loading = true
                this.percent = 10
                
                var startTime = new Date().getTime();
                console.log("starttime", startTime);

                interval = setInterval(() => {
                    if (v.percent >= 90) {
                        return
                    }
                    this.percent += 1
                }, 300);
                this.$http.post('https://chatgpt.igouc.cn/chat/sendQuestion', this.form)
                    .then(function (res) {
                        data = res.data
                        console.log("data..", data)
                        if (data.code == 2000) {
                            v.log.push({
                                "model": v.form.model,
                                "question": marked(v.form.question),
                                "answer": data.data.answer,
                                "innterHtml": marked(data.data.answer),
                            })
                        } else {
                            v.log.push({
                                "model": v.form.model,
                                "question": marked(v.form.question),
                                "answer": data.message,
                                "innterHtml": marked(data.data.answer),
                            })
                            // document.getElementById("response_content").innerHTML = marked(data.message)
                        }

                        v.loading = false
                        clearInterval(interval)
                        v.percent = 100
                    }, function (res) {
                        console.log("res", res)
                        v.log.push({
                            "model": v.form.model,
                            "question": marked(v.form.question),
                            "answer": "服务异常",
                            "innterHtml": "服务异常",
                        })
                        v.loading = false
                        clearInterval(interval)
                        v.percent = 100
                    });
            },

            onClear() {
                this.log = []
            },

            onDelete(index) {
                newLog = []
                for (let i = 0; i < this.log.length; i++) {
                    if (i != index) {
                        newLog.push(this.log[i])
                    }
                }

                this.log = newLog
            }
        }
    })
</script>

<style>
    .response{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-card{
        margin: 10px;
    }
</style>
</html>
